<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>FlaskChatSample</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>FlaskChatSample</h1>
            <div class="menu">
                <p><a href="/login">ログイン</a></p>
                <p><a href="/userlist">ユーザーリスト</a></p>
                <p><a href="/chatroom">チャットルーム</a></p>
            </div>

        </div>

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>