<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>チャットルーム一覧</h1>
    {% for chat in tpl_chat_list %}
    <div style="border: 1px solid black;">
        <p>{{chat[1]}}</p>
        <form action="/chat/{{chat[0]}}" method="POST">
            <input type="submit" value="チャットへ">
        </form>
    </div>
    {% endfor %}
</body>

</html>