{% extends "base.html" %}
{% block content %}
<div class="login">

    <div class="loginForm">
        <h3>アカウント登録</h3>
        <form action="/regist" method="POST">
            <p><input type="text" name="name" placeholder="Name"></p>
            <p><input type="text" name="password" placeholder="Password"></p>
            <input class="loginButton" type="submit" value="登録">
        </form>
    </div>

    <div class="loginForm">
        <form action="/login" method="POST">
            <h3>ログイン</h3>
            <p><input type="text" name="name" placeholder="Name"></p>
            <p><input type="text" name="password" placeholder="Password"></p>
            <input class="loginButton" type="submit" value="ログイン">
        </form>
    </div>




</div>


{% endblock %}